*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:arial;
    
}

body{
  background-image: url(./2.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  height: 100%;
  background-position: center;
}

header{
   display: flex;
   justify-content:space-between ;
   align-items: center;
   position: fixed;
   z-index: 99;
   width: 100%;
   height: 100px;
    box-shadow: 0 0 10px #000;
    background-color: rgba(0 ,0 ,0 ,0.5);

}
.myname{
   
    color: rgb(27, 202, 27);
    font-size: 2em;
    font-weight: 900;
    margin: 20px;
    border:solid #000;
    border-radius: 25px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
border-color: rgb(242, 250, 250);
padding: 5px;
-webkit-box-reflect: below 1px linear-gradient(transparent,#0004);
line-height: 0.5em;
outline: none;
animation: animate 5s linear infinite;
}
@keyframes animate{
  0%,18%,20%,50.1%,60%,65.1%,80.1%,90%,92.1%,100%
  {
color: #fff;
text-shadow: none;
  }
  18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%
  {
color: #fff;
text-shadow: 0 0 10px #03bcf4,
0 0 20px #03bcf4,
0 0 40px #03bcf4,
0 0 80px #03bcf4,
0 0 160px #03bcf4;
  }
}

.chk1{
    display: none;
}

i{
     cursor: pointer;
}

header .search-box{
    flex:1 ;
    position: relative;
    left: 60px;
}

.search-box input{
    height: 40px;
    width: 350px;
    border: none;
    outline:none;
    border-radius: 30px;
    background:#f2f2f2;
    color: grey;
    font-size: 16px;
    text-align: center;
    position: absolute;
}

.search-box button{
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border: none;
    top: 0;
    margin-left: 311px;
    
    transform: scale(0.9);
    background: rgb(21, 160, 51);
}
 header ul{
    flex: 2;
    display: flex;
    justify-content: space-evenly;
 }

 header ul li{
    list-style: none;

 }

 header ul li a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 15px;
 }

 header ul li a:hover{
    border-bottom: 2px solid cadetblue;
 }

 header .menu{
font-size: 2.5em;
display: none;
 }

 @media(max-width:1000px){
.search-box button{
    position: absolute;
}
 
 header ul{
position: fixed;
top: 100px;
right: -100%;
background: #000;
height: calc(100vh - 100px);
width: 50%;
flex-direction: column;
align-items: center;
transition: right 0.5s linear;

}
header .menu{
    display: block;
    width: 100px;
    text-align: center;
}

.chk1:checked ~ ul{
    right: 0;
}
 }



.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   
}

.card{
    background-color: rgba(60, 52, 172, 0.562);
    width: 200px;
    margin: 15px;
    border-radius: 15px;
    margin: 120px;

}

.img1{
    background-image: url(./mercury1.gif);
background-position: -50px;
    height: 170px;
background-size:cover ;
margin-bottom: 15px;
border-radius: 15px 15px 0 0;

}
.img2{
    background-image: url(./venus1.gif);
    background-position: -10px;
height: 170px;
background-size:cover ;
margin-bottom: 15px;
border-radius: 15px 15px 0 0;

}
.img3{
    background-image: url(./earth.gif);
height: 170px;
background-size:cover ;
margin-bottom: 15px;
border-radius: 15px 15px 0 0;

}
.img4{
    background-image: url(./mars.gif);
height: 170px;
background-size:cover ;
margin-bottom: 15px;
border-radius: 15px 15px 0 0;

}
.img5{
    background-image: url(./jupiter.gif);
background-position:-12px ;
    height: 170px;
background-size:cover ;
margin-bottom: 15px;
border-radius: 15px 15px 0 0;

}
.img6{
    background-image: url(./saturn2.gif);
    background-position: -50px;
    height: 170px;
background-size:cover ;
margin-bottom: 15px;
border-radius: 15px 15px 0 0;

}
.img7{
    background-image: url(./Neptune1.gif);
    background-position: -53px;
height: 170px;
background-size:cover ;
margin-bottom: 15px;
border-radius: 15px 15px 0 0;

}
.img8{
    background-image: url(./uranus1.gif);
    background-position: 5px;
height: 170px;
background-size:cover ;
margin-bottom: 15px;
border-radius: 15px 15px 0 0;

}
.img9{
    background-image: url(./Pluto1.gif);
    background-position: -10px;
    
height: 170px;
background-size:cover ;
margin-bottom: 15px;
border-radius: 15px 15px 0 0;

}

.card a{
    background-color: rgba(0, 0, 0, 0.822);
    color: rgb(255, 255, 255);
    padding: 10px 15px;
    display: block;
    text-align: center;
margin: 20px 50px;
border-radius: 20px;
text-decoration: none;
cursor: pointer;
border: 1px #284b60 solid;
transition: 0.3s;
}

.card a:hover{
  background-color: #2e8f25;
}

.card h1{
    padding: 10px;
    text-align: center;
}


.card p{
 padding: 10px;
}


.footer {
    background-color: black;
    color: #fefefe;
    width: 100%;
    bottom: 0;
    left: 0;
  }
  
  .footer .heading {
    color: #fefefe;
    max-width: 1010px;
    width: 90%;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 3rem;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  .footer .content {
    display: flex;
    justify-content: space-evenly;
    margin: 1.5rem;
  }
  
  .footer .content p {
    margin-bottom: 1.3rem;
  }
  
  .footer .content a {
    text-decoration: none;
    color: #fefefe;
  }
  
  .footer .content a:hover {
    border-bottom: 1px solid #971717;
  }
  
  .footer .content h4 {
    margin-bottom: 1.3rem;
    font-size: 19px;
  }
  
  footer {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  footer hr {
    margin: 2rem 0;
  }
  
  @media (max-width: 767px) {
    .footer .content {
      display: flex;
      flex-direction: column;
      font-size: 14px;
    }
  
    .footer {
      position: unset;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1024px) {
    .footer .content,
    .footer {
      font-size: 14px;
    }
  }
  
  @media (orientation: landscape) and (max-height: 500px) {
    .footer {
      position: unset;
    }
  }